@tailwind base;
@tailwind components;
@tailwind utilities;

.anchor:link,
.anchor:visited {
  gap: 15px;
  padding: 0.6rem 2rem;
  text-decoration: none;
  border: 2px solid #4a76ee;
  color: white;
  font-weight: 300;
  position: relative;
  border-radius: 5px;
  overflow: hidden;
  transition: color 0.4s ease;
  font-size: 17px;
  z-index: 1;
}

.anchor:focus {
  outline: none;
}

.anchor::after {
  content: "";
  position: absolute;
  inset: 0;
  background-color: #017fb1;
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.4s ease;
  z-index: -1;
}

.anchor:hover::after {
  transform: scaleX(1);
}

.anchor:hover {
  color: #44f7df;
  border-color: white;
}
